streamlit
streamlit-folium
streamlit-option-menu
reportlab
pillow
openpyxl  
pandas    
lxml
simplekml
requests
geopandas
fastkml
gspread
oauth2client
datetime
google-api-python-client>=2.120.0
google-auth
google-auth-oauthlib
google-auth-httplib2
pyproj
